<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
       ">
    <!-- 通过web.xml中的 org.springframework.web.servlet.DispatcherServlet 加载的  -->
    <context:component-scan base-package="com.pomela.springmvc.test.mvc" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <mvc:annotation-driven/>


    <mvc:resources mapping="/resources/**" location="/resources/"/>

    <!--<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">-->
        <!--<property name="prefix" value="/WEB-INF/opPage/"/>-->
        <!--<property name="suffix" value=".ftl"/>-->
    <!--</bean>-->

    <bean id="freemarkerConfiguration" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="location" value="classpath:freemarker.properties" />
    </bean>

    <!-- 配置freeMarker模板路径 -->
    <bean id="freemarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="freemarkerSettings" ref="freemarkerConfiguration" />
        <property name="templateLoaderPath" value="/WEB-INF/opPage/" />
        <property name="defaultEncoding" value="UTF-8" />
        <!-- 全局变量部分 -->
        <!--<property name="freemarkerVariables">-->
            <!--<map>-->
                <!--<entry key="currentUser">-->
                    <!--<bean class="com.travelzen.tops.front.common.freemarker.CurrentUserGetter" />-->
                <!--</entry>-->
                <!--<entry key="getEnv">-->
                    <!--<bean class="com.travelzen.tops.front.common.freemarker.PropertyGetter" />-->
                <!--</entry>-->
                <!--<entry key="getEnumMessage">-->
                    <!--<bean class="com.travelzen.tops.front.common.freemarker.EnumMessageGetter" />-->
                <!--</entry>-->
                <!--<entry key="authorizeName">-->
                    <!--<bean class="com.travelzen.tops.front.common.freemarker.NameAuthorizer" />-->
                <!--</entry>-->
                <!--<entry key="authorizeUrl">-->
                    <!--<bean class="com.travelzen.tops.front.common.freemarker.UrlAuthorizer" />-->
                <!--</entry>-->
                <!--<entry key="getMapJson">-->
                    <!--<bean class="com.travelzen.tops.front.common.freemarker.MapJsonGetter" />-->
                <!--</entry>-->
                <!--<entry key="getLastAuthException">-->
                    <!--<bean class="com.travelzen.tops.front.common.freemarker.LastAuthErrorGetter"></bean>-->
                <!--</entry>-->
                <!--<entry key="getCurrentUrl">-->
                    <!--<bean class="com.travelzen.tops.front.common.freemarker.CurrentUrlGetter"></bean>-->
                <!--</entry>-->
            <!--</map>-->
        <!--</property>-->
    </bean>




    <!-- 配置MultipartResolver -->
    <!--<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">-->
        <!--<property name="maxUploadSize"><value>100000</value></property>-->
    <!--</bean>-->

    <!-- 配置国际化LocaleResolver -->
        <!-- 基于URL参数的国际化配置 eg:<a href="?locale=zh_CN"> -->
    <bean id="urlLocaleResolver" class="org.springframework.web.servlet.i18n.AcceptHeaderLocaleResolver" />
        <!-- 基于session的国际化配置 检验用户会话中预置的属性来解析区域 -->
    <bean id="sessionLocaleResolver" class="org.springframework.web.servlet.i18n.SessionLocaleResolver" />
        <!-- 基于Cookie的国际化配置 通过浏览器的cookie设置取得Locale对象 -->
    <bean id="cookieLocaleResolver" class="org.springframework.web.servlet.i18n.CookieLocaleResolver" />

    <!-- 配置主题资源 ThemeResolver -->
    <bean id="themeSource" class="org.springframework.ui.context.support.ResourceBundleThemeSource">
        <property name="basenamePrefix" value="com.pomela.springmvc.test.mvc" />
    </bean>

    <!--拦截器 AbstractHandlerMapping-->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.pomela.springmvc.test.mvc.interceptors.MyInterceptor" />
        </mvc:interceptor>
    </mvc:interceptors>

    <bean id="yourInterceptor" class="com.pomela.springmvc.test.mvc.interceptors.YourInterceptor" />

    <bean id="yourMapperInterceptor" class="org.springframework.web.servlet.handler.MappedInterceptor">
        <constructor-arg name="includePatterns" value="/**"></constructor-arg>
        <constructor-arg name="interceptor" ref="yourInterceptor"></constructor-arg>
    </bean>

    <!--配置HandlerMappings 默认BeanNameUrlHandlerMapping和DefaultAnnotationHandlerMapping-->
    <bean id="hanlderMapping" class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping">
        <property name="interceptors">
            <list>
                <bean class="com.pomela.springmvc.test.mvc.interceptors.SimpleInterceptor" />
                <ref bean="yourMapperInterceptor" />
            </list>
        </property>
    </bean>
    <!-- 配置HandlerAdapters 默认HttpRequestHandlerAdapter、SimpleControllerHandlerAdapter、AnnotationMethodHandlerAdapter -->
    <!-- 配置HandlerExceptionResolvers -->
    <!-- 配置RequestToViewNameTranslator -->

    <!-- 配置ViewResolvers -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
        <!--<property name="viewClass" value="com.pomela.springmvc.test.mvc.MyFreeMarkerkView" />-->
        <property name="contentType" value="text/html; charset=utf-8" />
        <property name="requestContextAttribute" value="req" />
        <property name="suffix" value=".ftl" />
    </bean>


</beans>