<?xml version="1.0" encoding="UTF-8"?>
<!-- 使用该文件将日志输出至控制台，用jvm参数 -Dlogback.configurationFile=logback-console.xml 指定 -->
<configuration>

    <jmxConfigurator/>

    <!-- 控制台日志输出 -->
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <Encoding>UTF-8</Encoding>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d{HH:mm:ss} |%5le| %logger{50} => %X{rpid} %msg %n%ex</pattern>
		</layout>
	</appender>

    <logger name="com.ibatis" level="DEBUG"/>
    <logger name="java.sql.Connection" level="DEBUG"/>
    <logger name="java.sql.PreparedStatement" level="DEBUG"/>
    <logger name="java.sql.ResultSet" level="DEBUG"/>
    <logger name="org.perf4j.TimingLogger" level="DEBUG" additivity="false"/>
	<logger name="org.springframework.ui.freemarker" level="DEBUG" />
	<logger name="org.springframework.amqp.rabbit" level="debug"/>

	<root level="debug">
		<appender-ref ref="stdout" />
	</root>

</configuration>